.article {
  height: auto;
  padding: 10px;
  margin: 20px 0;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

  p {
    height: 300px;
    display: block;
    overflow: auto;
    padding: 5px;
  }
}
